@import url("./animation.css");

:root {
  --welcomeTyping: 1s;
  --welcomeLetters: 8;
  --clickBubbleTyping: 2s;
  --pickABubbleTyping: 2s;
  --clickBubbleStart: calc(var(--start) + var(--welcomeTyping) + 1s);
  /* --clickBubbleLetters: 19; */
  --clickBubbleToWhite: calc(
    var(--clickBubbleTyping) + var(--welcomeTyping) + 2s
  );
  --pickABubbleStart: 18.8s;
  --pickABubbleToWhite: calc(var(--pickABubbleStart) + 3s);
  --pickABubbleLetters: 30;
  --fadeBubbleIn: 23s;


}

.welcome,
.click-the-bubble,
.pick-a-bubble {
  position: relative;
  width: max-content;
}

/* .welcome::before {
  background: white;
  animation: typewriter var(--welcomeTyping) steps(var(--welcomeLetters))
      var(--start) forwards,
    to-white 0.1s ease 1s forwards;
}

.welcome::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--welcomeTyping) steps(var(--welcomeLetters))
      var(--start) forwards,
    blinking var(--blinkSpeed) steps(var(--blinkSteps)) infinite,
    to-white 0.5s ease calc(var(--welcomeTyping) + 0.7s) forwards;
} */

.welcome::before,
.welcome::after,
.click-the-bubble::before,
.click-the-bubble::after,
.pick-a-bubble::before,
.pick-a-bubble::after
 {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pick-a-bubble::before {
  background: white;
  animation: typewriter var(--clickBubbleTyping)
      steps(var(--pickABubbleLetters)) calc(var(--pickABubbleStart) + .5s) forwards,
    to-white 0.1s ease 1s forwards;
}

.pick-a-bubble::after {
  width: 0.125em;
  background: white;
  animation: typewriter var(--clickBubbleTyping)
      steps(var(--pickABubbleLetters)) calc(var(--pickABubbleStart) + .5s) forwards,
    blinking var(--blinkSpeed) steps(var(--blinkSteps)) infinite,
    to-black 0.5s ease var(--pickABubbleStart) forwards,
    to-white 0.5s ease var(--pickABubbleToWhite) forwards;
}

/* .click-the-bubble::before {
  background: white;
  animation: typewriter var(--clickBubbleTyping)
      steps(var(--clickBubbleLetters)) var(--clickBubbleStart) forwards,
    to-white 0.1s ease 1s forwards;
}

.click-the-bubble::after {
  width: 0.125em;
  background: white;
  animation: typewriter var(--clickBubbleTyping)
      steps(var(--clickBubbleLetters)) var(--clickBubbleStart) forwards,
    blinking var(--blinkSpeed) steps(var(--blinkSteps)) infinite,
    to-black 0.5s ease var(--clickBubbleTyping) forwards,
    to-white 0.5s ease var(--clickBubbleToWhite) forwards;
} */

.bubble {
  border-radius: 50% / 10%;
  animation: to-blue .3s ease var(--fadeBubbleIn) forwards;

}
.bubble::before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
  animation: to-blue .3s ease var(--fadeBubbleIn) forwards;

  /* animation: to-blue .3s ease 1s forwards; */
}

.bubble-div {
  animation: right-to-left 1.5s ease var(--fadeBubbleIn) forwards;
}

.bubble-div-xs {
  animation: right-to-left-xs 1.5s ease var(--fadeBubbleIn) forwards;
}

.bubble-div-sm {
  animation: right-to-left-sm 1.5s ease var(--fadeBubbleIn) forwards;
}

.bubble-div-md {
  animation: right-to-left-md 1.5s ease var(--fadeBubbleIn) forwards;
}

.bubble-div-lg {
  animation: right-to-left-lg 1.5s ease var(--fadeBubbleIn)forwards;
}

.bubble-div-xl {
  animation: right-to-left-xl 1.5s ease var(--fadeBubbleIn) forwards;
}

.bubble-div-2xl {
  animation: right-to-left-2xl 1.5s ease var(--fadeBubbleIn) forwards;
}

@keyframes right-to-left {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes right-to-left-xs {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
  
}

@keyframes right-to-left-sm {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes right-to-left-md {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes right-to-left-lg {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes right-to-left-xl {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes right-to-left-2xl {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

